/**
 * src/css/custom.css
 * * Основний файл стилів для Docusaurus.
 */

   /*1. Color Palette*/

:root {
  /* Main color: #246dfd */
  --ifm-color-primary: #246dfd;
  --ifm-color-primary-dark: #0356f3;
  --ifm-color-primary-darker: #0351e6;
  --ifm-color-primary-darkest: #0243be;
  --ifm-color-primary-light: #4e88fe;
  --ifm-color-primary-lighter: #6396fe;
  --ifm-color-primary-lightest: #a1c0ff;
  
  /* Code blocks background */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For dark mode */
[data-theme='dark'] {
  --ifm-color-primary: #4e88fe; 
  --ifm-color-primary-dark: #246dfd;
  --ifm-color-primary-darker: #0356f3;
  --ifm-color-primary-light: #7baaff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

/*2. Sidebar Navigatoin*/

/* А. Dividers*/

/* Non-active state */
.menu__list-item > .menu__link--sublist {
  color: #0b2e6d;     /* Dark Navy Blue */
  font-weight: 700;   /* Жирний шрифт */
}

.menu__list-item > .menu__link--sublist::after {
  background: var(--ifm-menu-link-sublist-icon) !important;
  filter: invert(13%) sepia(35%) saturate(5479%) hue-rotate(212deg) brightness(93%) contrast(103%); /* Це перетворює сірий на #0b2e6d */
}

/* Б. Active state (Selected/Open) */

.menu__list-item > .menu__link--sublist.menu__link--active {
  color: #246dfd !important; 
}

.menu__link--active:not(.menu__link--sublist) {
  color: #246dfd !important;
  background-color: rgba(36, 109, 253, 0.1); /* Легкий блакитний фон під активним пунктом */
}

/*В. Hover */
.menu__link:hover {
  color: #246dfd !important;
}

/*3. Dark Mode Adjustments*/


[data-theme='dark'] .menu__list-item > .menu__link--sublist {
  color: #e3e3e3; 
}

[data-theme='dark'] .menu__list-item > .menu__link--sublist.menu__link--active {
  color: #4e88fe !important;
}

[data-theme='dark'] .menu__link--active:not(.menu__link--sublist) {
  color: #4e88fe !important;
  background-color: rgba(78, 136, 254, 0.15);
}

/* 4. Additional Utilities*/

.img-small img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px; 
}

.img-center {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}